body {
  margin: 0;
  /*background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);*/
  /*background: linear-gradient(to right, #2980b9, #2c3e50);*/
  background-image: linear-gradient(135deg, #FA8BFF 0%, #2BD2FF 70%, #2BFF88 100%);
  display: flex;
  align-items: center;
  height: 100vh;
}
.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}
.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: left;
}

.celeste {
  background: #22a6b3;
  transition: 1s;
}
.celeste:hover{
  transform: scale(1.02);
}
.celeste.light {
  background: #7ed6df;
  transition: 0.3s;
}
.celeste.light:hover {
  transform: scale(1.05);
}

.rojo {
  background: rgb(208, 28, 50);
  transition: 1s;
}
.rojo:hover{
  transform: scale(1.02);
}
.rojo.light {
  background: rgb(170, 28, 50);
  transition: 0.3s;
}
.rojo.light:hover{
  transform: scale(1.05);
}

.naranja {
  background: #f0932b;
  transition: 1s;
}
.naranja:hover{
  transform: scale(1.02);
}
.naranja.light {
  background: #ffbe76;
  transition: 0.3s;
}
.naranja.light:hover{
  transform: scale(1.05);
}

.verde {
  background: #6ab04c;
  transition: 1s;
}
.verde:hover{
  transform: scale(1.02);
}
.verde.light {
  background: #badc58;
  transition: 0.3s;
}
.verde.light:hover{
  transform: scale(1.05);
}

.btn-start {
  cursor: pointer;
  width: 420px;
  height: 150px;
  background: #ecf0f1;
  color: #2c3e50;
  border: none;
  border-bottom: 4px solid #c4c6c7;
  border-radius: 8px;
  font-size: 2.8em;
  position: absolute;
  top: calc(48% - 50px);
  left: calc(50% - 210px);
  transition: .5s;
  outline: none;
}

.btn-start:hover {
  color: #ecf0f1;
  background: #2c3e50;
  border-bottom: 4px solid #1f3346;
}

.btn-start:active {
  transform: scale(.90);
}

.hide {
  display: none;
}

*{
  font-family: 'Pacifico', cursive;
}
